[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/mixup-generator"]
	path = deps/mixup-generator
	url = https://github.com/yu4u/mixup-generator.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/keras2cpp"]
	path = deps/keras2cpp
	url = https://github.com/contribu/keras2cpp.git
[submodule "deps/pocket-tensor"]
	path = deps/pocket-tensor
	url = https://github.com/GValiente/pocket-tensor.git
[submodule "deps/keras_to_tensorflow"]
	path = deps/keras_to_tensorflow
	url = https://github.com/amir-abdi/keras_to_tensorflow.git
